body {
    background-image: url(img/IFGPA\ BG.png);
    min-height: 100%;
  background-position: center;
  background-size: cover;
}

.link a:link, a:visited{
    text-decoration: none;
    color: black;

}

.link a:hover {
    color: tan;
}

#home {
    position: relative;
    top: 50px;
    left: 100px;
}

#logo {
    position: relative;
    bottom: 50px;
}

#join {
    position: relative;
    bottom: 250px;
    left:1000px;

}